* {
  box-sizing: border-box;
}

.title {
  content: "";
  clear: both;
  display: block;
  font-size: 125%;
  float: right;
  border-width: 2px;
  border-style: solid;
  border-color: #000000;
  position: absolute;
  top: -9px;
  right: 7px;
  padding: 5px;
}

.title1 {
  background-color: #3342cc;
  color: #ffffff;
}

.title2 {
  background-color: #cc339e;
  color: #ffffff;
}

.title3 {
  background-color: #cc3333;
  color: #ffffff;
}

.inner{
  padding: 15px;
  border-width: 2px;
  border-style: solid;
  border-color: #000000;
  background-color: #c8a4da;
  color: #000000;
}

.row::after {
  content: "";
  clear: both;
  display: block;
}

[class*="col-"] {
  position: relative;
  box-sizing: border-box;
  float: left;
  padding: 7px;
  height: auto;
}

html {
  font-family: "Lucida Sans", sans-serif;
  font-size: 15px;
}

.header {
  text-align: center;
  color: #9933cc;
  padding: 15px;
  margin-bottom: 5px;
  font-size: 175%;
}


/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (min-width: 768px) and ( max-width: 991px) {
  /* For tablets: */
  .col-4 {width: 50%;}
  .col-s-12 {width: 100%;}
}

@media only screen and (max-width: 767px) {
  /* For mobile phones: */
  .col-4 {width: 100%;}
}